 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <div class="col-md-12 text-center">
                    <p>Ethics in general is a broad topic, which can be narrowed down into what is more commonly known as information ethics.
                     Information ethics surrounds the concepts of information use, moral codes and ethical standards within the Information Technology industry.
                     These guidelines are necessary for IT professionals as they provide a moral framework should an individual encounter an ethical dilemma.
                     Ethical guidelines are commonly followed by IT professionals in order to cover grey legal areas, ensuring that the professionals are thinking selflessly to increase the quality of the final product.
                     There isn’t one set of guidelines followed by IT professionals, however there are many overlapping features between guidelines, mostly focusing on public interest and honesty in one’s work.
                     While these ethics are common practice in industry, IT professionals are not required by law to follow these guidelines, however breach of said guidelines may result in workplace counselling.
                    </p>
                    </br>
                </div>
         <center>
                <div class="col-md-6 text-left">
                 <p><strong>ACS Code of ethics:</strong></p>
                 <ol>
                  <li>I will place the interests of the public above those of personal, business or sectional interests.</li>
                  <li>I will strive to enhance the quality of life of those affected by your work.</li>
                  <li>I will be honest in your representation of skills, knowledge, services and products.</li>
                  <li>I will work competently and diligently for your stakeholders.</li>
                  <li>I will enhance your own professional development, and that of your staff.</li>
                  <li>I will enhance the integrity of the ACS and the respect of its members for each other.</li>
                 </ol>
                 </div>
        </center>
                 </br>
                </div>
            </div>
    </section>
