 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <div class="col-md-12 text-center">
                    <p>Ethics in Information Technology is a very broad topic, yet, its scope can be more specific when applied to specific Information Technology fields. 
                    Ethics outlines a specific type of behaviour, explaining what should be done. 
                    In IT it is not required to be followed by law, however it is what a morally adept person would believe is the correct thing to do; therefore it is encouraged that all professionals in IT follow the ethical guidelines outlined by their specific industry. 
                    The vast number fields of IT generally abide by different codes of ethics as their jobs require different things from the workers, however these ethics generally overlap. 
                    For example, IT security workers would have access to much more sensitive data, meaning they would have to abide by stricter ethics. 
                    IT helpdesk staff would most likely have less strict ethical rules to abide by as they are usually not dealing with as sensitive or threatening information. 
                    This is an example of a general code of ethics which should be followed by all IT workers:
                    </p>
                    </br>
                </div>
                <div class="col-md-6 text-left">
                 <p><strong>The SANS IT Code of Ethics general guidelines are:</strong></p>
                 <ol>
                    <li>I will strive to know myself and be honest about my capability.</li>
                    <li>I will conduct my business in a manner that assures the IT profession is considered one of integrity and professionalism.</li>
                    <li>I respect privacy and confidentiality.</li>
                 </ol>
                 </div>
                 <div class="col-md-6 text-left">
                  <strong>The ICCP Code of Ethics are:</strong>
                  <ol>
                   <li>A high standard of skill and knowledge.</li>
                   <li>A confidential relationship with people served.</li>
                   <li>Public reliance upon the standards of conduct and established practice.</li>
                   <li>The observance of an ethical code.</li>
                  </ol>
                 </div>
                </div>
            </div>
    </section>
