 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <div class="col-md-12 text-justify">
                    <p>Ethics in general is a broad topic, which can be narrowed down into what is more commonly known as information ethics. 
                     Information ethics surrounds the concepts of information use, moral codes and ethical standards within the Information Technology industry. 
                     These guidelines are necessary for IT professionals as they provide a moral framework should an individual encounter an ethical dilemma. 
                     Moreover, this may include the creation, recording and distribution of information, specifically issues in regards to ownership and copyright. 
                     Ethical guidelines are commonly followed by IT professionals in order to cover grey legal areas, ensuring that the professionals are thinking selflessly to increase the quality of the final product. 
                     There isn’t one set of guidelines followed by IT professionals, however there are many overlapping features between guidelines, mostly focusing on public interest and honesty in one’s work. 
                     While these ethics are common practice in industry, IT professionals are not required by law to follow these guidelines, however breach of said guidelines may result in workplace counselling. 
                     </br>
                     An example of an IT code of ethics is outlined below:
                    </p>
                    </br>
                </div>
                <div class="col-md-6">
                 <p><strong>ACS Code of ethics:</strong></p>
                 <ol>
                  <li>I will place the interests of the public above those of personal, business or sectional interests.</li>
                  <li>I will strive to enhance the quality of life of those affected by your work.</li>
                  <li>I will be honest in your representation of skills, knowledge, services and products.</li>
                  <li>I will work competently and diligently for your stakeholders.</li>
                  <li>I will enhance your own professional development, and that of your staff.</li>
                  <li>I will enhance the integrity of the ACS and the respect of its members for each other.</li>
                 </ol>
                 </div>
               <div class="col-md-6">
                 <p><strong>Software Engineering Code of Ethics</strong></p>
                 <ol>
                  <li><strong>Public -</strong>Software engineers shall act consistently with the public interest.</li>
                  <li><strong>Client and Employer -</strong>Software engineers shall act in a manner that is in the best interests of their client and employer consistent with the public interest.</li>
                  <li><strong>Product -</strong>Software engineers shall ensure that their products and related modifications meet the highest professional standards possible.</li>
                  <li><strong>Judgement -</strong>Software engineers shall maintain integrity and independence in their professional judgment.</li>
                  <li><strong>Management -</strong>Software engineering managers and leaders shall subscribe to and promote an ethical approach to the management of software development and maintenance.</li>
                  <li><strong>Profession -</strong>Software engineers shall advance the integrity and reputation of the profession consistent with the public interest.</li>
                  <li><strong>Colleagues -</strong>Software engineers shall be fair to and supportive of their colleagues.</li>
                  <li><strong>Self -</strong>Software engineers shall participate in lifelong learning regarding the practice of their profession and shall promote an ethical approach to the practice of the profession.</li>
                </ol>
                 </div>
                </div>
            </div>
    </section>
