<a name="subsection" class="page-scroll"></a>
<section id="subsection" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Subsections</h2>
                    <hr class="star-light">
                </div>
            </div>
                  <ul class="tab">
                     <li><a href="#x" class="tablinks" onclick="openCity(event, 'Networking')">Networking</a></li>
                     <li><a href="#x" class="tablinks" onclick="openCity(event, 'ethic_and_law')">Ethics and Law</a></li>
                     <li><a href="#x" class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</a></li>
                  </ul>

                <div id="Networking" class="tabcontent">
                        {% include subsections/networking.html %}
                </div>

                <div id="ethics_and_law" class="tabcontent">
                        {% include subsections/ethics_and_law.html %}
                </div>

                <div id="Tokyo" class="tabcontent">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                </div>
        </div>
</section>
