<div class="row">
  <div class="col-lg-12 text-justify">
  <h1>Consequences of Breaching Ethical Guidelines</h1>
   <p>Breaching the ethical guidelines will obviously follow with some consequences. Generally, the consequences would be loss/ damaged reputation of a company and/or an employee. If it is more severe like criminal offences, it can also lead to a lawsuit against the company/employee. These outcomes are not decided easily and it’s also not one sided.</p>
   </br>
   <p>Before anything, Director, assistant director or such beings will determine if an employee has breached the code of conducts. If there are no breaches, the employee will be informed accordingly as soon as possible. Sometimes, these ethics might be forced to breach law or negatively impact the third party, then the employee is professionally responsible to make the client aware of the breach, consequences and agree an alternative course of action.</p>      
   </br>
   <p>If there are breaches, the Delegate will provide a copy of the report to the employee and informing the employee of sanction being considered. Then the employee is given 7 days to provide reasons why the proposed sanction should not be imposed. The Delegate will make final decision according to the reason that the employee has provided and let the employee know the result. In some cases, as an outcome of a breach of ethics, an employee may have to be temporarily re-assigned to other duties, or to suspend the employee from duty while the inquiries into whether an employee has breached the code of conduct is still pending.</p>
   </br>
   <p>An employee has right to request a review of the final decision that has been made that relates to either determination of breached code of conduct or the sanction that has been imposed for the breach. If a sanction imposed on an employee's termination of employment, and the employee thinks that the sanction was harsh, unjust or unreasonable, the employee may apply to the Fair Work commission for a review of the final decision.</p>
 </div> 
</div>
