<div class="row">
  <div class="col-lg-10 text-justify">
  <h1>Networking</h1>
   <blockquote>
     <p>Networking has increasingly become an indispensable part of modern life. New computer technologies for gathering, storing, manipulating, and communicating data are revolutionizing the use and spread of information. Along the way, they are also creating ethical dilemmas. The speed and efficiency of electronic information systems, which include local and global networks, databases, and programs for processing information, force people to confront entirely new rights and responsibilities in their use of information and to reconsider standards of conduct shaped before the advent of computers.</p>
     <footer>Margaret L. n.d.</footer>
   </blockquote>
   
   <p>This section focuses on the ethics in networking when networks act as a social platform. The Internet's emphasis on free expression, race, class, gender, and physical appearance are hidden. Therefore the Internet allows interaction, which is relatively free from all the subtle biases that usually accompany more direct human relations. On the other hand, this virtual anonymity allows interaction without any sort of commitment; the sense of shared responsibility that people must have in a real community does not necessarily exist on the Internet. There are netiquettes for the users to follow in order to create a good network environment.</p>
   </br>
   <p>Some guidelines for online civil behavior to follow:</p>
      <ul>
          <li>Do not look at other people's files or use other systems without permission</li>
          <li>Do not seek to gain unauthorized access to the resources of the networks</li>
          <li>Do not compromise the privacy of other users</li>
          <li>Do not waste resources (personnel, hardware, software, bandwidth)</li>
          <li>Do not destroy the integrity of computer-based information</li>
          <li>Do not insult or embarrass other users</li>
          <li>Do not disrupt the intended use of the networks</li>
      </ul>
      
   <blockquote>
      <p>Moreover, different networks have different policies, various networks have produced written statements outlining what sort of traffic they permit. Many simply state the purpose of the network in question and restrict users to that purpose. Most explicitly forbid disruptive, frivolous, illegal, and obscene communications, along with any form of harassment.</p>
      <footer>Margaret L. n.d.</footer> 
   </blockquote>
   
   <p>Users should strive to follow the specific policies and also the copyright when accessing different networks.</p>
  </div> 
</div>
   
