<div class="row">
  <div class="col-lg-12 text-justify">
  <h1>Software Engineering</h1>   
  <p>Software engineering is the process of designing and implementing new softwares for technological devices. This sector in Information Technology (IT) has its own set of ethical guidelines which workers are encouraged to follow; as IT professionals are not required to follow these guidelines by law. This specific guidelines are set out by the Association for Computing Machinery (ACM) and on their website a summarised version of the ethical guidelines can be found. The summarised version is as follows:</p>
  </br>
      <ol>
          <li><strong>PUBLIC</strong> - Software engineers shall act consistently with the public interest</li>
          <li><strong>CLIENT AND EMPLOYER</strong> - Software engineers shall act in a manner that is in the best interests of their client and employer consistent with the public interest</li>
          <li><strong>PRODUCT</strong> - Software engineers shall ensure that their products and related modifications meet the highest professional standards possible</li>
          <li><strong>JUDGMENT</strong> - Software engineers shall maintain integrity and independence in their professional judgment</li>
          <li><strong>MANAGEMENT</strong> - Software engineering managers and leaders shall subscribe to and promote an ethical approach to the management of software development and maintenance</li>
          <li><strong>PROFESSION</strong> - Software engineers shall advance the integrity and reputation of the profession consistent with the public interest</li>
          <li><strong>COLLEAGUES</strong> - Software engineers shall be fair to and supportive of their colleagues</li>
          <li><strong>SELF</strong> - Software engineers shall participate in lifelong learning regarding the practice of their profession and shall promote an ethical approach to the practice of the profession</li>
      </ol>
  </br>
   <p>These guidelines are set out in order to protect the developers and the people using the software. It is to ensure that the people benefit as much as possible from the services offered by software engineers. Ofcourse not all individuals follow these guidelines. Viruses are often embedded within programs which then infect the computers hard drive from within. This breaches numerous policies on the guidelines.</p>
   </br>
   <p>Despite not being enforced by law, these guidelines should be something that all software engineers aspire towards as it will increase the reputation of the IT industry and allow products to continually become better versions of themselves; ultimately improving the technology in our world forever.</p>
  </div> 
</div>
   
